body {
    background-color: #E5E5E5;
    margin: 0;
}

.header {
    background-color: #2C2C2C;
    position: 'relative';
    width: 100vw;
    height: 7vh;
}

.headerNav {
    color: #FFFFFF;
    position: 'absolute';
    font-family: 'Calibri';
    font-size: 3vmin;
    font-weight: lighter;
    margin-left: 3vh;
    display: inline-block;
    transform: translateY(42%);
}

.sidebar {
    background-color: #FFFFFF;
    position: 'absolute';
    width: 15vw;
    height: 93vh;
}