.button {
    padding: 5px;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    /* height: 4vh;
    width: 10vw; */
    font-family: 'Calibri';
    font-size: 2.5vmin;
    font-weight: lighter;
    display:inline-block
}

.button-delete {background-color: #004F59;}
.button-edit {background-color: #A9C47F;}
.button-insert {background-color: #006747;}

.button-delete:hover {
    background: #b42c39;
}
.button-edit:hover {
    background: #005ec2;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup-form {
    width: 38%;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.content-form {
    height: 72vh;
}

@media screen and (max-width: 700px){
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}