.report {
    width: 400px;
    font-family: 'Calibri';
    background-color: #FFFFFF;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    display: inline-block;
    margin-left: 5vw;
    margin-bottom: 0;
}

.report h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

.report h1.bottom {
    font-size: 20px;
    padding: 12px 0 12px 0;
}

.report h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

.report h1 a:hover {
    color: #C7C7C7;
}

.report i {
    margin-top: 3vh;
    width: 100%;
    text-align: center;
}