body {
    background-color: #E5E5E5;
    margin: 0;
    overflow: hidden;
}

.header {
    background-color: #2C2C2C;
    position: absolute;
    width: 100vw;
    height: 7vh;
}

.sidebar {
    background-color: #FFFFFF;
    position: absolute;
    top: 7vh;
    width: 15vw;
    height: 93vh;
    display: flex;
    align-items: center;
}

.sidebarLine {
    color: #E5E5E5;
    position: relative;
    width: 13vw;
    margin-left: 1vw;
    margin-top: 2vh;
    display: inline-block;
}

.navText {
    color: #FFFFFF;
    position: relative;
    font-family: 'Calibri';
    font-size: 3vmin;
    font-weight: lighter;
    margin-left: 3vh;
    display: inline-block;
    text-decoration: none;
    transform: translateY(42%);
}

.navText:hover {
    color: #C7C7C7;
}

.navText.sidebarText {
    color: #2C2C2C;
    width: 100%;
    margin-left: 0;
    text-align: center;
    transform: translateY(8%);
}

.navText.sidebarText:hover {
    color: #777777;
}

/* Base area for form (under header & to the side of sidebar) */
/* This area can expand vertically (scroll) and not effect the header/sidebar */
.form-base {
    position: relative;
    top: 10vh;
    left: 17vw;
    height: 87vh;
    width: 81vw;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

/* For the input fields */
.form-control {
    background: transparent;
    position: relative;
    width: 35vw;
    margin-bottom: 2%;
    margin-right: 2%;
    outline: none;
    border-radius: 4px;
    font-family: 'Calibri';
    font-size: 2.5vmin;
    font-weight: lighter;
    border-width: 2px;
    border-color: black;
}

/* Submit button for form */
.form-submit {
    height: 4vh;
    width: 10vw;
    font-family: 'Calibri';
    font-size: 2.5vmin;
    font-weight: lighter;
}

/* Label for input fields */
.input-label, .required-input-label {
    background: transparent;
    position: relative;
    left: 0.5%;
    font-family: 'Calibri';
    font-size: 2.5vmin;
    font-weight: lighter;
}

/* Red asterisk after labels for required input fields */
.required-input-label::after {
    content: "*";
    color: red;
}

/* Details toggle element */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    width: 34vw;
}

/* Font of details toggle element */
summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

/* Dropdown lists */
.dropdown-control {
    background: transparent;
    position: relative;
    width: 35.5vw;
    margin-bottom: 2%;
    margin-right: 2%;
    outline: none;
    border-radius: 4px;
    font-family: 'Calibri';
    font-size: 2.5vmin;
    font-weight: lighter;
    border-width: 2px;
    border-color: #2C2C2C;
}